html {
  font-family: "Architects Daughter", cursive;
  font-size: calc(1em + 1vw);
}

body {
  color: #8f0f0f;
  background-color: black;
}

header {
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  border-radius: 20px;
}

.calendarPicker__heading {
  display: inline;
}

#dateInput {
  font-size: larger;
  color: #940c0c;
  opacity: 0.5;
  text-align: center;
  border-radius: 10px;
}

.slideWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.upper::before {
  content: "";
  background: url(./pics/david-dibert-Na0BbqKbfAo-unsplash.jpg);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
  background-position: bottom;
}

.slide__info {
  flex-basis: 40%;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  align-self: flex-start;
  color: #940c0c;
  opacity: 0.9;
  position: relative;
  z-index: 1;
  padding: 5px;
  margin: 5px;
}

.slide__sign {
  margin: 0;
}

.slide__image {
  margin-top: 3%;
}

.slide__image img {
  width: 100%;
  flex-grow: 2;
  border-radius: 50%;
  opacity: 0.7;
}

#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #940c0c;
  border-radius: 50%;
  border-top: 16px solid #0e0d0d;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
