html {
  font-family: 'Architects Daughter', cursive;
  /* border: 3px solid black; */
}

body {
  /* border: 3px dotted red; */
  /* background-image: url(./pics/david-dibert-Na0BbqKbfAo-unsplash.jpg);
  background-position: center; */
  color: #940c0c;

}

header {
  background-image: url(./pics/david-dibert-Na0BbqKbfAo-unsplash.jpg);
  background-size: contain;
  margin: 0 auto;
  text-align: center;
}

.calendarPicker__heading {
  display: inline;
}

.slideWrapper {
  /* border: 3px solid black; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3%;
  padding-top: 2%;
}

.slide__info {
  /* border: 3px dotted red; */
  flex-basis: 40%;
  text-align: center;
  font-size: xx-large;
  align-self: flex-start;
}

.slide__image {
  border: 3px dotted green;
  margin-top: 3%;


}

.slide__image img {
  /* display: block; */
  width: 100%;
  flex-grow: 2;
}

/* Center the loader */
#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #940c0c;
  border-radius: 50%;
  border-top: 16px solid #0e0d0d;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
